# ==============================================================================
# CONFIGURAÇÃO DE AMBIENTE - LOJA LEAGUE OF LEGENDS (DATA ENGINEERING PIPELINE)
# ==============================================================================

# String de Conexão com o cluster no MongoDB Atlas (substitua com suas credenciais)
MONGODB_URI="mongodb+srv://<usuario>:<senha>@cluster0.abcd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Nome do Banco de Dados no MongoDB Atlas
MONGODB_DATABASE="loja_lol"

# Configurações do PostgreSQL (Opcional caso execute localmente)
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="loja_lol"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres_password"
